@tailwind base;
@tailwind components;
@tailwind utilities;


body{
width: 100%;
height: 100vh;
overflow: visible;
}



#root{
width: 100%;
}


.family1{
    font-family: "Playwrite IN", cursive;
}


@media(min-height:900px)
{
    .sup{
       align-content: center;
    }
}
